[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
python-dotenv = "*"
mysql-connector-python = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-mail = "*"
email-validator = "*"
jwt = "*"

[requires]
python_version = "3.8"
