{% extends 'base.html' %}

{% block content %}

  <h1 class="is-size-3">Registrera träning</h1>

  <form action="{{ url_for('register') }}" method="post">

    <div class="field">
      <label class="label" for="name">Namn</label>
      <div class="control">
        <input name="name" value="{{ request.form['name'] }}" class="input"></input>
      </div>
    </div>

    <div class="field">
      <label class="label" for="weapon">Kurs</label>
      <div class="control">
        <select name="weapon" class="input" value="{{ request.form['weapon'] }}">
          <option value="Långsvärd Grundkurs">Långsvärd Grundkurs</option>
          <option value="Långsvärd Fortsättning">Långsvärd Fortsättning</option>
          <option value="Sabel">Sabel</option>
          <option value="Svärd och Bucklare">Svärd och Bucklare</option>
          <option value="Rapir och dolk">Rapir och dolk</option>
          <option value="Brottning">Brottning</option>
          <option value="Barn och ungdom">Barn och ungdom</option>
          
        </select>

      </div>
    </div>
    <div class="field">
      <label class="label" for="date">Datum</label>
      <div class="control">
        <input type='date' name="date" min=2020-01-01 max=2020-12-31 value="{{ request.form['date'] }}" class="input"></input>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Register" class="button is-primary" />
      </div>
      <div class="control">
        <a href="{{ url_for('register') }}" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>

{% endblock %}
